/data/index/*
!/data/index/
test*
venv.bat
misc.xml
.idea
/settings/download/*
!/settings/download/config_nhentai_example.json
!/settings/download/config_gallery-dl_example.json
!/settings/download/download_targets_default.json
/settings/libs/*
!/settings/libs/libs_default.json
saved_page
saved_page.html
/downloads/*
!/downloads
/extension/**/*.pem
__pycache__
/.gitconfig
/start.bat
/data/DB/*
!/data/DB
/logs/*
!/logs/
log*.txt
/settings/aliases/*
!/settings/aliases/aliases_default.json