/data/index/*
!/data/index/
test*
venv.bat
settings.bat
misc.xml
.idea
/settings/download/*
/settings/libs/*
saved_page
saved_page.html
/downloads/*
/downloads/default-*/*
!/downloads/default-*
/extension/**/*.pem
__pycache__
/.gitconfig
/start.bat
/data/DB/*
!/data/DB
/logs/*
!/logs/
log*.txt
/settings/aliases/*
!/settings/aliases/aliases_default.json
/user_data/*
!/user_data/.getkeep
!*.gitkeep