main {
    max-width: 75%;
    margin: 20px auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-aspect-ratio: 1.0) and (max-aspect-ratio: 1.35) {
    main {
        max-width: 90%;
    }
}

@media (max-aspect-ratio: 0.99) {
    main {
        max-width: 100%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-aspect-ratio: 2.2) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}


@media (min-aspect-ratio: 1.0) and (max-aspect-ratio: 1.45) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-aspect-ratio: 0.99) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.project-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.project-item-container {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    /* width: 17%; */
    aspect-ratio: 0.63;
    display: flex;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
    flex-direction: column;
}

/* @media (max-aspect-ratio: 1) {
    .project-item-container {
        width: 40%;
    }
} */

.project-item-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.project-item-preview img {
    width: 100%;
    object-fit: contain;
    background-color: #f4f4f4;
}

.project-item-flag-container {
    display: inline-flex;
}

.project-item-flag-container img {
    width: 10%;
    object-fit: contain;
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 3px;
}

.project-title-container {
    padding: 10px;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: start;
}

.project-title-text {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    width: 90%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-info-container {
    width: 100%;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    z-index: 2;
    flex-direction: column;
}

.project-item-preview-data {
    color: black;
    display: inline-flex;
    position: absolute;
    z-index: 2;
    background: rgba(255,255,255,0.85);
}

.lvariants-count {
    padding: 2%;
    right: 0;
    border-radius: 0 0 0 50%;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

.pages-count {
    font-size: 75%;
    padding: 1%;
    left: 0;
    border-radius: 0 0 50% 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.pages-count-container {
    display: inline-flex;
    position: absolute;
    left: 0;
}

.sorting-container {
    display: inline-flex;
    position: absolute;
    right: 0;
}

.button-label {
    padding-right: 0.25vw;
}

.form-1 {
    padding: 0 0.25vw 0 0.25vw;
}

.button-1 {
    border-radius: 5px;
    padding: 0.1vw 0.5vw;
    background-color: #DFDFDF;
    cursor: pointer
}
