body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

header {
    background-color: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
    background-color: #444;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}


.grid-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.pagination a {
    text-decoration: none;
    color: #222;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #444;
    color: white;
}

.pagination .active {
    background-color: #222;
    color: white;
    pointer-events: none;
}

.pagination .ellipsis {
    padding: 8px 12px;
    font-weight: bold;
    color: #888;
}

.extra_header {
    min-height: 2.5vh;
    background-color: #393939;
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.extra-nav-buttons {
    display: flex;
    gap: 15px;
}

.extra-nav-buttons a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.extra-nav-buttons a:hover {
    background-color: #5b5b5b;
}