main {
    max-width: 2000px;
    margin: 20px auto;
    padding: 0 10px;
}

.page-container {
    display: grid;
    gap: 15px;
    justify-items: center;
    justify-content: center;
}

.project-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.page-item {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.page-item img {
    padding: 10px;
    object-fit: contain;
    background-color: #f4f4f4;
}