.detail-view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.detail-view-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.project-image {
    flex: 0 0 600px;
    display: flex;
    justify-content: center;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-info h1 {
    font-size: 28px;
    margin: 0;
}

.project-info h2 {
    font-size: 22px;
    color: #555;
    margin: 0;
}

.project-info p {
    font-size: 16px;
    margin: 0;
}

.label-tags-container {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: flex-start;
}

.project-info .label {
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    display: inline-flex;
    align-items: start;
    min-width: 80px;
}

.project-info .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: start;
}

.tag {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #ddd;
}

.tag-priority {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 0 2px
}

.tag-priority:hover {
    background-color: #ddd;
}

.tag-info {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
}

.edit-button {
    padding: 5px 10px;
    background-color: #cbcbcb;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
    border: none
}

.edit-button:hover {
    background-color: #999999;
}

.grid-container-pages {
    display: inline-flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-item {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #f4f4f4;
}

.image-item.tall {
    width: 17.5%;
}

.image-item.wide {
    width: 23%;
}