<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_detailview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_edit_window.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <header class="extra_header">
        <div class="extra-nav-buttons">
            <a href="{{ url_for('index', search=request.args.get('search', ''), page=request.args.get('page', 1)) }}">Back</a>
        </div>
    </header>

    <main class="detail-view">
        <div class="project-image">
            <img src="{{ url_for('get_image', image_path=project.preview_path) }}" alt="{{ project.title }}">
        </div>
        <div class="project-info">
            <h1>{{ project.title }}</h1>
            <h2>{{ project.subtitle }}</h2>

            <div class="label-tags-container">
                <div class="label">Lib:</div>
                <div class="tags-container">
                    <a href="{{ url_for('index', search='lib:'+project.lib, page=1) }}" class="tag">{{ project.lib }}</a>
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">LID:</div>
                <div class="tags-container">
                    <div class="tag-info">{{ project.lid }}</div>
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Source:</div>
                <div class="tags-container">
                    <a href="{{ url_for('index', search='source:'+project.source, page=1) }}" class="tag">{{ project.source }}</a>
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Source ID:</div>
                <div class="tags-container">
                    <div class="tag-info">{{ project.source_id }}</div>
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Tag:</div>
                <div class="tags-container">
                    {% for tag in project.tag %}
                    <a href="{{ url_for('index', search='tag:'+tag, page=1) }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                    <button class="edit-button" data-type="tags" data-content="{{ '\n'.join(project.tag) }}">+</button>
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Artist:</div>
                <div class="tags-container">
                    {% for artist in project.artist %}
                    <a href="{{ url_for('index', search='artist:'+artist, page=1) }}" class="tag">{{ artist }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Group:</div>
                <div class="tags-container">
                    {% for group in project.group %}
                    <a href="{{ url_for('index', search='group:'+group, page=1) }}" class="tag">{{ group }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Parody:</div>
                <div class="tags-container">
                    {% for parody in project.parody %}
                    <a href="{{ url_for('index', search='parody:'+parody, page=1) }}" class="tag">{{ parody }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Character:</div>
                <div class="tags-container">
                    {% for character in project.character %}
                    <a href="{{ url_for('index', search='character:'+character, page=1) }}" class="tag">{{ character }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Series:</div>
                <div class="tags-container">
                    {% for series in project.series %}
                    <a href="{{ url_for('index', search='series:'+series, page=1) }}" class="tag">{{ series }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Language:</div>
                <div class="tags-container">
                    {% for language in project.language %}
                    <a href="{{ url_for('index', search='language:'+language, page=1) }}" class="tag">{{ language }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="label-tags-container">
                <div class="label">Pages:</div>
                <div class="tag-info">{{ project.pages }}</div>
            </div>
        </div>
    </main>

    <main class="detail-view-pages">
        <div class="grid-container-pages">
            {% for image in images %}
            <a href="{{ url_for('reader', project_id=project.id, page_id=image.idx + 1) }}{{ ('?' + request.query_string.decode('utf-8')) if request.query_string else '' }}"
               class="image-item">
                <img src="{{ url_for('get_image', image_path=image.path) }}" alt="Error">
            </a>
            {% endfor %}
        </div>
    </main>

    {% include 'edit_window.html' %}
</body>
<script>
    document.querySelectorAll('.image-item img').forEach(img => {
        function applyStyles() {
            const aspectRatio = img.naturalWidth / img.naturalHeight
            const container = img.parentElement

            if (aspectRatio < 1) {
                container.classList.add('tall')
                container.classList.remove('wide')
            } else {
                container.classList.add('wide')
                container.classList.remove('tall')
            }
        }

        if (img.complete) {
            applyStyles()
        } else {
            img.addEventListener('load', applyStyles)
        }
    })

    const modal = document.getElementById('edit-window')
    const editForm = document.getElementById('edit-form')
    const editTypeInput = document.getElementById('edit-type')
    const editDataTextarea = document.getElementById('edit-data')
    const cancelEditButton = document.getElementById('cancel-edit')
    const editButtons = document.querySelectorAll('.edit-button')

    editButtons.forEach(button => {
        button.addEventListener('click', () => {
            console.log("test")
            const type = button.getAttribute('data-type')
            const content = button.getAttribute('data-content')

            editTypeInput.value = type
            editDataTextarea.value = content

            modal.classList.add('active')
        })
    })

    cancelEditButton.addEventListener('click', () => {
        modal.classList.remove('active')
    })

</script>
</html>
