<header>
    <div class="nav-buttons">
        <a href="{{ request.url_for('index') }}">Home</a>
    </div>
    <div class="search-bar">
        <form action="/" method="GET">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input
                    type="text"
                    name="search"
                    placeholder="Search project..."
                    value="{{ request.query_params.get('search', '') }}" >
        </form>
    </div>
    <div class="nav-buttons">
        <a href="/items/tag">Tags</a>
        <a href="/items/artist">Artists</a>
        <a href="/items/character">Characters</a>
        <a href="/items/parody">Parodies</a>
    </div>
</header>