<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SF.ViewerH</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="{{ request.url_for('static', path='styles_index.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="extra_header">
        <div class="sorting-container">
            <label class="sorting-label">Sorting method</label>
            <form action="/sorting" method="POST" class="sorting-form">
                <input type="hidden" name="sorting-method" value="upload_date">
                <input type="hidden" name="search" value="{{ request.query_params.get('search', '') }}">
                <button type="submit" class="sorting-button">Upload Date</button>
            </form>
            <form action="/sorting" method="POST" class="sorting-form">
                <input type="hidden" name="sorting-method" value="preview_hash">
                <input type="hidden" name="search" value="{{ request.query_params.get('search', '') }}">
                <button type="submit" class="sorting-button">Preview Hash</button>
            </form>
        </div>
    </div>
    <main>
        <div class="grid-container">
            {% for project in projects %}
            <a href="{{ request.url_for('detail_view', project_id=project.id) }}?page={{ current_page }}&search={{ request.query_params.get('search', '') }}"
               class="project-item-container">
                <div class="project-item-preview-data pages-count">{{ project.pages }}</div>
                {% if project.lid.startswith('pool_') %}
                    <div class="project-item-preview-data lvariants-count">x{{ project.lvariants_count }}</div>
                {% endif %}
                <div class="project-item-preview">
                    <img src="{{ request.url_for('get_image', image_path=project.preview_path | urlencode) }}" alt="{{ project.title }}">
                </div>
                <div class="project-info-container">
                    <div class="project-item-flag-container">
                        {% for flag in project.flags %}
                            <img src="{{ request.url_for('get_image', image_path=flag) }}" alt="F">
                        {% endfor %}
                    </div>
                    <div class="project-title-container">
                        <div class="project-title-text">{{ project.title }}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="pagination">
            <!-- Prev button -->
            {% if current_page > 1 %}
            <a href="?page={{ current_page - 1 }}&search={{ request.query_params.get('search', '') }}">&laquo; Prev</a>
            {% endif %}

            <!-- Show visible pages buttons -->
            {% for page in visible_pages %}
                {% if page == '...' %}
                <span class="ellipsis">...</span>
                {% elif page == current_page %}
                <a href="?page={{ page }}&search={{ request.query_params.get('search', '') }}" class="active">{{ page }}</a>
                {% else %}
                <a href="?page={{ page }}&search={{ request.query_params.get('search', '') }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            <!-- Next button -->
            {% if current_page < total_pages %}
            <a href="?page={{ current_page + 1 }}&search={{ request.query_params.get('search', '') }}">Next &raquo;</a>
            {% endif %}
        </div>
    </main>
</body>
</html>
