<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalViewer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles_items.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="grid-container-items">
            {% for item in items %}
            <div class="item">
                <div class="item-text">
                    <div class="item-text-label">{{ item[0] }}</div>
                    <div class="item-text-count"> ({{ item[1] }})</div>
                </div>
                <a href="{{ request.url_for('index') }}?search={{ find }}:{{ item[0] }}&page=1"
                   class="item-link"></a>
            </div>
            {%  endfor %}
        </div>
    </main>
</body>
</html>